body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: gothferatu;
    src: url("../fonts/gothferatu.ttf");
  }

  @font-face {
    font-family: gothican;
    src: url("../fonts/gothican.ttf");
  } 

  /* Media queries */

 @media screen and (max-width: 375px) {

    .headerImage {
        height: 350px;
        object-fit: cover;
    }

    footer {
        text-align: center;
    }

    .dropButton {
        margin-left: 14rem;
        margin-top: 5px;
    }

    /* Media query Galery*/

    .photosTitle {
        text-align: center;
    }

    .galeryContainer {
        display: block;
        margin: 0 auto;
    }

    .galeryPhotos {
        width: 300px;
        height: 200px;
    }

    .videoContainer {
        flex-direction: column;
    }

    /* Media query Contact*/

    .contactSend {
        position: relative;
        left: 17rem;
    }

 }

  /* Sobreescribo Bootstrap Index */ 

  li {
    display: inline-block;
    list-style-type: none;
    margin: 20px;
    font-family: gothferatu;
    font-size: 30px;
  }

  .dropButton {
    background-color: #7c0003;
  }
  

 /* Sobreescribo Bootstrap Discografía */ 

.albumTitle {
    font-size: 40px;
}

.albumImg {
    display: block;
    margin: 0 auto;
}

a {
    margin: 0 auto;
    display: block;
    text-align: center;
}

/* Galería */

.areaGridImg {
    display: grid;
    grid-template-areas: 
    "headerImage"
    "nav"
    "photosTitle"
    "galeryContainer"
    "videoContainer"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr 1fr 5fr 5fr 1fr;
}

.photosTitle {
    grid-area: photosTitle;
    color: white;
}

.galeryContainer {
    grid-area: galeryContainer;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.galeryVideo {
  border: none;
}

.videoContainer {
    grid-area: videoContainer;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

/* Tour */

.datesTitle {
  color: white;
}

.datesContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    color: white;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Contacto */

.formText {
    font-family: 'Tiro Gurmukhi', serif;
    font-size: 20px;
}

.contactSend {
    position: relative;
    right:-64rem;
}



