body {
    background-color: black;
}

@font-face {
    font-family: gothferatu;
    src: url("../fonts/gothferatu.ttf");
  }

  @font-face {
    font-family: gothican;
    src: url("../fonts/gothican.ttf");
  } 

  /* Media queries */

 @media screen and (max-width: 375px) {

    .headerImage {
        height: 350px;
        object-fit: cover;
    }

    footer {
        text-align: center;
    }

    /* Media query Galery*/

    .photosTitle {
        text-align: center;
    }

    .galeryContainer {
        display: block;
        margin: 0 auto;
    }

    .galeryPhotos {
        width: 300px;
        height: 200px;
    }

    .videoContainer {
        flex-direction: column;
    }

 }


  /* Sobreescribo Bootstrap Index */ 

  .nav {
    color: #7c0003;
  }

  .nav:hover {
    color: #c30005;
    transition-duration: 0.5s;
    text-decoration: none;
  }

  li {
    display: inline-block;
    list-style-type: none;
    margin: 20px;
    font-family: gothferatu;
    font-size: 30px;
  }

  h1 {
    font-family: 'Tiro Gurmukhi', serif;
  }

  p {
    font-family: 'Tiro Gurmukhi', serif;
    font-size: 20px;
  }

  label {
    font-family: 'Tiro Gurmukhi', serif;
    font-size: 20px;
  }

  .dropButton {
    background-color: #7c0003;
  }

  /* Sobreescribo Bootstrap Footer */ 

  footer {
    color: #7c0003;
    padding-top: 1rem;
  }

  .icons {
    font-size: 30px;
  }

  .icons:hover {
    color: #c30005;
    transition-duration: 0.5s;
  }

 /* Sobreescribo Bootstrap Discografía */ 

.albumTitle {
    font-family: 'Tiro Gurmukhi', serif;
    font-size: 40px;
}

.albumPhotosTitle {
    text-decoration: none;
    color: #7c0003;
    font-family: 'Tiro Gurmukhi', serif;
    font-size: 1rem;
    font-weight: 600;
}

.albumPhotosTitle:hover {
    color: #c30005;
    transition-duration: 0.5s;
    text-decoration: none;
}

.albumImg {
    display: block;
    margin: 0 auto;
}

/* Galería */

.areaGridImg {
    display: grid;
    grid-template-areas: 
    "headerImage"
    "nav"
    "photosTitle"
    "galeryContainer"
    "videoContainer"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr 1fr 5fr 5fr 1fr;
}

.photosTitle {
    grid-area: photosTitle;
    font-family: 'Tiro Gurmukhi', serif;
    padding-left: 20px;
    font-size: 40px;
    color: white;
}

.galeryContainer {
    grid-area: galeryContainer;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.videoContainer {
    grid-area: videoContainer;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.galeryVideo {
    border: none;
}

/* Tour */

.datesTitle {
    font-family: 'Tiro Gurmukhi', serif;
    padding-left: 20px;
    padding-bottom: 15px;
    font-size: 40px;
    color: white;
}

.ticketButton {
    font-family: gothican;
    font-size: 25px;
    font-weight: 600;
    color: #7c0003;
    background-color: black;
    border-color: #7c0003;
    transition-duration: 0.5s;
}

.ticketButton:hover {
    background-color: #7c0003;
    color: black;
}

.datesContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    font-family: 'Tiro Gurmukhi', serif;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    font-size: 20px;
    color: white;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}




