.footerText {
  color: #7c0003;
}

$redes: (
    facebook: #3b5998,
    instagram: #7f1734,
    twitter: #1DA1F2
  );
  
  @each $red, $color in $redes {
    .btn--#{$red} {
        color: $color;
        font-size: 2rem;
    }
  }

  .btn--facebook {

    &:hover {
        color: #005aff;
        transition-duration: 0.5s;
    }
  }

  .btn--instagram {

    &:hover {
        color: #ff0048;
        transition-duration: 0.5s;
    }
  }

  .btn--twitter {

    &:hover {
        color: #009dff;
        transition-duration: 0.5s;
    }
  }


